*{
    margin:0px;
    padding:0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

h1 {
    color:#3c2116;
    background-color: lightgrey;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.product-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.product {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
img{
    width:300px;
    height: 300px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.cart {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    text-align: left;
}

#cart-items li button {
    background-color: #dc3545;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cart-items li button:hover {
    background-color: #c82333;
}
